<launch>
    <rosparam file="$(find ros_tcp_endpoint)/config/params.yaml" command="load"/>
    
    <node name="server_endpoint_agent_001" pkg="ros_tcp_endpoint" type="server_endpoint.py" args="--wait" output="screen" respawn="true" />

    <node name="server_endpoint_agent_011" pkg="ros_tcp_endpoint" type="server_endpoint.py" args="--wait" output="screen" respawn="true" />

    <node name="server_endpoint_agent_111" pkg="ros_tcp_endpoint" type="server_endpoint.py" args="--wait" output="screen" respawn="true" />

    <node name="server_endpoint_global_pcl_0" pkg="ros_tcp_endpoint" type="server_endpoint.py" args="--wait" output="screen" respawn="true" />
    
    <node name="lidar_0_converter" pkg="pcl2_converter" type="pcl2_converter_node" output="screen">
	    <remap from="/pcl" to="/unity/agent_0/pcl"/>
        <remap from="/pcl2" to="/unity/agent_0/pcl2"/>
    </node>

    <!-- <node name="rviz" pkg="rviz" type="rviz" output="log" args="-d $(find ros_tcp_endpoint)/config/pcl.rviz" /> -->
</launch>
